<html>
  <head>
    <title>Test DJango AJAX</title>
<style type="text/css">
div#map_container{
	width:100%;
	height:100%;
}
</style>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.1.1.min.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript">
var map;
var routeColor;
var stopColor;
var markerMap;
function loadMap(routeJson) {
  var latlng = new google.maps.LatLng(37.780755,-122.419281); 
  var myOptions = {
    zoom: 13,
    center: latlng,
    mapTypeId: google.maps.MapTypeId.TERRAIN
  };
  map = new google.maps.Map(document.getElementById("map_container"),myOptions);
  routeColor = d3.scale.category20c();
  stopColor = d3.scale.category20b();

  var styles = [
    {
      stylers: [
        { hue: "#00ffe6" },
        { saturation: -20 }
      ]
    },{
      featureType: "water",
      elementType: "geometry.fill",
      stylers: [
        { saturation: 100 },
        { "hue": "#c300ff" }
      ]
    },{
      featureType: "road",
      elementType: "labels",
      stylers: [
        { visibility: "off" }
      ]
    }
  ];

  map.setOptions({styles: styles});
}

function loadRoutes(routeJson) {
  for (var i = 0; i < routeJson.features.length; ++i) {
    var line = routeJson.features[i];
    console.log("plotting route: " + line.properties.LINEABBR);
    for (var c = 0; c < line.geometry.coordinates.length; ++c) {
      var routeStops = line.geometry.coordinates[c];
      var stopPositions = []
      for (var j = 0; j < routeStops.length; ++j)
        stopPositions.push(new google.maps.LatLng(
            routeStops[j][1], routeStops[j][0]));

      var busRoute = new google.maps.Polyline({
          path: stopPositions,
          strokeColor: routeColor(1), //line.properties.LINEABBR),
          strokeOpacity: 1.0,
          strokeWeight: 3
      });
      busRoute.setMap(map);
    }
  }
  console.log("plotted: " + routeJson.features.length);
}

function loadStops(stopJson) {
  markerMap = {};
  for (var i = 0; i < stopJson.features.length && i < 100; ++i) {
    var stop = stopJson.features[i];
    var marker = new google.maps.Marker({
      position: new google.maps.LatLng(
        stop.properties.LATITUDE, stop.properties.LONGITUDE),
      icon: {
        path: google.maps.SymbolPath.CIRCLE,
        scale: 4,
        strokeColor: "green"
      },
      map: map,
      stopid: i
    });
    markerMap[i] = marker;
    google.maps.event.addListener(marker, "click", function() {
      $.ajax({
        type: 'POST',
        url: '/ajax/bus_distance/distance.json',
        data: { stopid: this.stopid },
        success: function(data) {
          var distanceList = data.data;
          for (var i = 0; i < distanceList.length; ++i) {
            var colorIndex = Math.floor(parseInt(distanceList[i].time, 10) / 10);
            var stopId = parseInt(distanceList[i].stopid, 10);
            var marker = markerMap[stopId];
            marker.icon.strokeColor = stopColor(colorIndex);
            marker.setMap(map);
          }
          console.log(distanceList);
        },
        datatType: 'json'
      });
    });
  }
}
</script>
  </head>

  <body>
    <div id="map_container"></div>
    <script type="text/javascript">
      loadMap();
      d3.json("/static/routes.json", loadRoutes);
      d3.json("/static/stops.json", loadStops);
    </script>
  </body>
</html>
